/* style.css */

/* ตั้งค่าสีพื้นหลังและฟอนต์ของทั้งหน้า */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* กำหนดลักษณะของข้อความใน <h1> */
h1 {
    color: #333;
    text-align: center;
}

/* การตั้งค่าลักษณะของเมนู */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    margin: 0 10px;
}

nav a:hover {
    color: #0056b3;
}
